useDynLib(TargetSearch)
import("methods")

exportClasses(
	"tsLib",
	"tsRim",
	"tsSample",
	"tsMSdata",
	"tsProfile"
)

exportMethods(
	"rimMass",
	"rimMass<-",
	"rimLimits",
	"rimLimits<-",
	"rimStandard",
	"rimStandard<-",
	"CDFfiles",
	"CDFfiles<-",
	"RIfiles",
	"RIfiles<-",
	"CDFpath",
	"CDFpath<-",
	"RIpath",
	"RIpath<-",
	"sampleData",
	"sampleNames",
	"sampleNames<-",
	"sampleDays",
	"sampleDays<-",
	"refLib",
	"libId",
	"medRI",
	"medRI<-",
	"selMass",
	"selMass<-",
	"topMass",
	"topMass<-",
	"quantMass",
	"quantMass<-",
	"spectra",
	"spectra<-",
	"libName",
	"libName<-",
	"libRI",
	"libRI<-",
	"libData",
	"RIdev",
	"RIdev<-",
	"retIndex",
	"retIndex<-",
	"retTime",
	"retTime<-",
	"Intensity",
	"Intensity<-",
	"as.list.tsMSdata",
	"as.list.tsProfile",
	"profileInfo",
	"profileInfo<-",
	"profileInt",
	"profileInt<-",
	"profileRI",
	"profileRI<-",
	"profileRT",
	"profileRT<-",
	"show"
)

export(
	"FAMEoutliers",
	"FindPeaks",
	"medianRILib",
	"Profile",
	"sampleRI",
	"ImportLibrary",
	"ImportLibrary.tab",
	"ImportLibrary.msp",
	"ImportSamples",
	"ImportSamplesFromDir",
	"ImportFameSettings",
	"NetCDFPeakFinding",
	"peakCDFextraction",
	"peakFind",
	"plotFAME",
	"plotRIdev",
	"plotAllRIdev",
	"plotPeak",
	"plotSpectra",
	"plotAllSpectra",
	"quantMatrix",
	"ProfileCleanUp",
	"RIcorrect",
	"rt2ri",
	"ri2rt",
	"Write.Results",
	"writeMSP",
	"baseline",
	"baselineCorrection",
	"fixRIcorrection",
	"TargetSearchGUI"
)
